h1{
    color: #333333;
}

.card-wrapper{
    display: flex;
}

.card {
    width: 200px;
    margin-top: 30px;
}

.card h3{
    margin-top: 5px;
}

.card p{
    margin-top: 10px;
    font-size: 12px;
    color: #909090;
}

.card2, .card3{
    margin-left: 50px;
}